//Typography
h1 {
    font-family: $title;
    letter-spacing: $lspacing;
    font-weight: $light-weight;
}

h2 {
    font-family: $title;
    font-weight: $light-weight;
}

h3 {
    font-family: $title;
    font-weight: $light-weight;
}

h4 {
    font-family: $sans-serif;
    font-weight: $light-weight;
}

h5 {
    font-family: $sans-serif;
    font-weight: $light-weight;
}

h6 {
    font-family: $sans-serif;
    font-weight: $bold-weight;
}

p {
    font-family: $sans-serif;
    font-weight: $med-weight;
    font-size: 1.4rem;
}

b:after {
    background-color: $secondary;
}

.bprimary:after {
    background-color: $primary!important;
}

.serif {
    font-family: $serif;
}

.logo-text {
    font-family: $title;
    color: $primary;
    text-transform: uppercase;
}

.logo-name {
    text-shadow: 3px 3px 20px #e6e7e8;
    font-size: 14rem;
}

//Colors
.primary-text {
    color: $primary;
}

.primary {
    background-color: $primary;
}

.secondary-text {
    color: $secondary;
}

.secondary {
    background-color: $secondary;
}

//Spacing
.center-object {
    margin: 0px auto;
}

//Buttons
.button {
    border: 2pt solid $secondary;
}

.filled {
    background-color: $secondary;
}
.filled:hover {
    background-color: $primary!important;
}

//Forms
footer button[type="submit"] {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
}

footer button[type="submit"]:hover {
    border: 1px solid $black;
    color: $black;
    background-color: transparent!important;
}

//Images
[data-overlay]:before,
.overlay-color:before {
    background: $dark-grey!important;
}

.overlay-dark > [data-overlay]:before,
.overlay-color:before {
    background: $primary!important;
}

[data-overlay]:before,
.overlay-color:before .overlay-secondary {
    background: $secondary!important;
}

.overlay-darkgrey > [data-overlay]:before,
.overlay-color:before {
    background: $dark-grey!important;
}

.blur-img {
    blur:(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}

//Background Colors
.lgrey-bg {
    background: $light-grey
}

//Header
header.transparent-bg.small {
    border-bottom: 1px solid rgba(10, 10, 10, 0.03);
    box-shadow: 0px 5px 15px rgba(10, 10, 10, 0.03);
}
