body::-webkit-scrollbar {
    width: 0em;
} 
#content::-webkit-scrollbar {
    width: .5em;
    @media only screen{
        width: 0em;
    }
}

#content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
}
 
#content::-webkit-scrollbar-thumb {
  background-color: $accent-light;
  outline: 1px solid $accent-dark;
}

* {
    margin: 0px;
    padding: 0px;
}

.homepage.header{
    border: 0px solid transparent;
    max-width: none;
}
.homepage#content{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
}


.header {
    height: 45px;
    z-index: 10;
    
    @media only screen {
        bottom: 0;
        border-top: .5px solid $accent-light;
        width: 100%;
        position: fixed;
        border-top: .5 solid $accent-light;
        padding: 10px 10px 0px 10px;
    }
    @media only screen and (min-width: 40.063em) { 
        top: 0;
        width: calc(100% - 10px);
        max-width: 1000px;
        margin: 0 auto;
        position: static;
        border-bottom: .5px solid $accent-light;
    }
}

.mobile-logo {
    height: 100px;
    width: 100px;
    z-index: 100;
    position: absolute;
    top: 10px;
    left: 10px;
}

#content {
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
    z-index: 1;
    
    @media only screen { 
        padding: 40px 35px 10px 35px;
        margin-bottom: 50px;
    }
    @media screen and (min-width: 40em){
        width: 650px;
        padding: 30px 10px 0px 10px;
        margin: 0px auto;
        top: 45;
    }
}

.headshot {
    width: 100%;
    background-color: $accent-light;
    background-image: url(/images/headshot.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    height: 200px;
    @media only screen { 
        margin: 10px 0px 10px 0px;
    }
    @media only screen and (min-width: 40.063em) {
        margin: 0px 0px 0px 10px;
        width: auto;
        height: 200px;
    }
}

.name-banner {
    margin-top: -30px;
    margin-bottom: 10px;
    position: relative;
    @media screen and (min-width: 40em) and (max-width: 63.9375em){
        margin-top: 30px;
        margin-left:-50%;
        min-width: 150%;
    }
    @media screen and (min-width: 64em) {
        margin-top: 100px;
        
    }
}

.title-banner {
    width: 80%;
    margin: auto;
    text-align: center;
    display: block;
    margin-bottom: 15px;
    @media screen and (min-width: 40em){
        width: 100%;
    }
    @media screen and (min-width: 64em) {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

#social-media-bar {
    position: fixed;
    width: 25px;
    height: auto;
    min-height: 100px;
    bottom: 10vh;
    left: 0;
    background-color: $secondary;
    box-shadow: -3px 3px 3px hsla(0, 0, 39, 0.35);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    margin: auto;
    z-index: 15;
    font-size: 90%;
    @media screen and (min-width: 40em){
        bottom: 10vh;
        top: auto;
    }
}

.site-logo {
    height: 70px;
    @media screen and (min-width: 64em){
        height:90px;
    }
}

.footer {
    @media only screen and (max-width: 40em){
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        z-index: -1;
         padding: 0px 5px 0px 5px;
    }
    @media only screen and (min-width: 40.063em) { 
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 0px 10px 10px 0px;
    }
    
}

.table-cell {
    @media screen and (min-width: 40em){
        display: table-cell;
    }
    
}

.small-width-template {
    margin: auto;
    @media screen and (min-width: 40em) {
        max-width: 65%;
    }
    @media screen and (min-width: 64em) {
        max-width: 45%;
    }

}

.service-image {
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
}

.work-image-link{
    width: 100%;
    height: 25vh;
    min-height: 25vh;
    max-height: 40vh;
    display: block;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.work-image-wrapper:hover{
    background-color: $accent-dark;
}



.smas {
    background-image: url(/images/work/smas/springfield-mid-america-singers.jpg);
}
.php {
    background-image: url(/images/work/php/project-image.jpg)
}
.edin{
    background-image: url(/images/work/edin/project-image.png);
}
.sc{
    background-image: url(/images/work/sc/stefany-cambra.jpg);
}
.mg{
    background-image: url(/images/work/mg/mythic-gazetteer-behance-portfolio-image.png);
}
.usac{
    background-image: url(/images/work/usac/project-image.jpg);
}
.work-image {
    width: 100%;
    height: 25vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    position: relative;
}




.overlay{
    position: relative;
}
.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
}
.overlay:hover:before{
  display: block;
    background-color: rgba(6,40,66,0.75);
}
.overlay:hover .work-title{
    opacity: 1;
}

#portfolio-page {
    width: 100%;
    height: 100%;
    max-height: none;
    margin-top: 50px;
}

.full-iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    padding-top: 45px;
    width: 100%;
    min-height: 1000px;
    border:0 none;
    @media screen and (min-width: 40em) {
        margin-top: 50px;
    }
}

.work-modal {
    background-color: rgba(6,40,66,0.95);
    border-radius: 5px;
    margin: auto;
    min-height: 400px;
    max-height: 1200px;
    @media screen and (max-width: 39.9375em) {
        width: 95%;
        height: 95%;
    }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        width: 90%;
        height: 70%;
    }
    @media screen and (min-width: 64em) {
        width: 75%;
        max-width: 1200px;
        height: 75%;
    }
}

.quote-center {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.contact-icons {
    margin-bottom: 10px;
    font-size: 75%;
    @media screen and (min-width: 40em){
        font-size: 100%;
    }
    
}

.logo-name {
    position: absolute;
    top: 15px;
    width: 100px;
}

.iframe {
    width: 100%;
    height: 85%;
    overflow: hidden;
    
    @media only screen { 
        height: calc(100% - 58px);
    }
    
    @media only screen and (min-width: 40.063em) { 
        height: calc(100% - 65px);
        margin-bottom: 0;
    }
    
}

.small-logo {
    width: 25px;
    height: 25px;
    @media only screen and (min-width: 40.063em) { 
        height: 30px;
        width: 30px;
    }
}
.homepage .small-logo{
    visibility: hidden;
}

.table-display {
    width: 100%;
    height: 100%;
    display: table;
}

.center-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.landing-content {
    margin: auto;
    @media only screen{
        width: 275px; 
    }
    @media only screen and (min-width: 40.063em) { 
        width: 600px;
        padding-bottom: 50px;
    }
}

.logo-large {
    width: 100%;
    padding-bottom: 30px;
}

.portfolio {
    height: 100%;
    width: 106%;
    border: transparent;
}



.small-top-padding {
    padding-top: 5px;
}
