

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.no-max {
    max-height: none!important;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.margin-top {
    margin-top: 20px;
}

.no-right-padding {
    padding-right: 0px;
}

.image-margins {
    margin-top: 5px;
    margin-bottom: 5px;
}





























.auto-margin {
    margin: auto;
}

.small-padding {
    padding: 5px;
}

.small-margin {
    margin: 5px !important;
}

.small-bottom-margin {
    margin-bottom: 10px;
}

.med-top-padding {
    padding-top: 50px;
}

.project-container {
    margin: 10px 0px 10px 0px;
    height: 200px;
}



.project {
    padding-bottom: 25px;
}
