//Fonts
$bodyfont: 'Open Sans', sans-serif;
$titlefont: 'Oswald', sans-serif;


//Colors
$primary:#062842;
$secondary:#be2627;
$alert:#be2627;
$accent-light:#E6E7E8;
$accent-dark:#636363;
$black:#000;
$white: #FFF;


@import 'foundation';
@import 'display';
@import 'margins-padding';
@import 'typography';
@import 'forms';
@import 'buttons';
@import 'orbiter';