//Fonts
$bodyfont: 'Open Sans', sans-serif;
$titlefont: 'Oswald', sans-serif;


//Colors
$primary:#E6E7E8;
$secondary:#be2627;
$alert:#be2627;
$accent-light:#636363;
$accent-dark:#062842;
$black:#636363;
$white: #E6E7E8;


@import 'foundation';
@import 'display';
@import 'margins-padding';
@import 'typography';
@import 'forms';
@import 'buttons';
@import 'orbiter';